body{
    background-color: black;
}

.index-container{
    padding-bottom: 50px;
}
.index_product_row{
    margin-bottom: 30px;
}

.index_product_img > img{
    width: 100%;
    height: 300px;
}

.index-product-img-overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.25rem;
}